h1 span{

    color: yellow;
    background-color: black;
    border-radius: 8px;
    border: solid red;
   
} 
h1{
    background-color: aqua;
    text-align: center;
    border-radius: 15px;
}
.photos {
    display: flex;
    justify-content: center;
    
}
.text{
text-align: center;
background-color: black ;
color: yellow;
border-radius: 15px;
}